<div class="row justify-content-center mt-4">
    <div class="col-12 justify-content-center text-center">
        <h1 class="text-lowercase header-text">11.02.19</h1>
    </div>
</div>
<div class="row justify-content-center mt-4">
    <div class="col-sm-4 justify-content-center text-center">
        <img src="/img/patrick-katie.jpg" class="img-fluid rounded" alt="Patrick and Katie">
    </div>
</div>
<div class="row justify-content-center mt-4">
    <div class="col-12 justify-content-center text-center">
        <h6 class="text-lowercase invitation-text">Syndicated</h6>
        <h6 class="text-lowercase invitation-text">Bar Theater Kitchen</h6>
        <h6 class="text-lowercase invitation-text">Brooklyn, NY</h6>
    </div>
</div>
