<div class="row justify-content-center mt-3">
    <div class="col-12 rsvp-iframe">
        <script type="text/javascript" src="http://app.rsvpify.com/embed/500252459" scrolling="yes"></script>
        <script type="text/javascript" src="http://app.rsvpify.com/js/iframeResizer.min.js"></script>
        <script type="text/javascript">iFrameResize({autoResize: true,checkOrigin: false,heightCalculationMethod: 'max', enablePublicMethods: true}, "#RSVPifyIFrame");</script>
    </div>
</div>
