<div class="row justify-content-center mt-4">
    <div class="col-sm-5">
        <div class="venue-image">
            <img src="/img/syndicated.jpg?v=2" class="img-fluid" alt="Syndicated Bar Theater Kitchen">
        </div>
    </div>
    <div class="col-sm-5">
        <table class="h-100">
            <tbody>
                <tr>
                    <td class="align-middle">
                        <ul class="list-unstyled">
                            <li><h5>Syndicated Bar Theater Kitchen</h5></li>
                            <li>40 Bogart Street</li>
                            <li>Brooklyn, NY 11206</li>
                        </ul>
                        <ul class="list-unstyled mb-0">
                            <li><a class="small" href="https://syndicatedbk.com/" target="_blank">Website</a></li>
                            <li><a class="small" href="https://www.google.com/maps/dir//Syndicated+Bar+Theater+Kitchen,+40+Bogart+St,+Brooklyn,+NY+11206/" target="_blank">Directions</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row justify-content-center mt-4">
    <div class="col-sm-10">
        <div class="venue-map-iframe">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12098.396633530403!2d-73.9330549!3d40.7048249!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbdefa610034c548c!2sSyndicated+Bar+Theater+Kitchen!5e0!3m2!1sen!2sus!4v1564328246903!5m2!1sen!2sus" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>
