<div class="row justify-content-center mt-2 mb-2">
    <div class="col-12 text-center">
        <ul class="nav justify-content-center">
            {{#navigation}}
                {{> headerNavItem}}
            {{/navigation}}
        </ul>
    </div>
</div>
