<!-- Header: start -->
<div id="header-wrapper" class="container-fluid">
    <div class="row justify-content-center mt-4">
        <div class="col-8 text-center">
            <h1 class="header-text text-lowercase">Katie Mischik</h1>
            <h4 class="header-text text-lowercase">and</h4>
            <h1 class="header-text text-lowercase">Patrick Stankard</h1>
        </div>
    </div>
    {{> headerNav }}
    <div class="row mt-4 border-top border-bottom header">
        <div class="col-12 mt-n2 cube-background"></div>
    </div>
</div>
<!-- Header: end -->
